.chat-input-container {
    width: 100%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}

.chat-input-container form {
    display: flex;
    width: 100%;
    align-items: center;
}

.chat-input textarea {
    flex: 6;
    border: none;
    background-color: #D9D9D9;
    border-radius: 15px;
    margin-right: 10px;
    resize: none;
    overflow-y: auto;
    height: 50px;
    max-height: 150px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center; 
    padding-left: 15px; 
    padding-top: 23.5px;
    font-size: 16px; 
}

.chat-input textarea:focus {
    outline: 2px solid #F08D86; 
}

.chat-input button {
    flex: 1;
    padding: 0 10px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 50px; 
    box-sizing: border-box;
}

/* currentInput 값이 없을 때 */
.chat-input button.disabled {
    background-color: #D9D9D9;
}

/* currentInput 값이 있을 때 */
.chat-input button.enabled {
    background-color: black;
}

/* 버튼에 커서가 올라갔을 때 */
.chat-input button.enabled:hover {
    background-color: #F08D86;
}


.blinking-cursor {
    font-weight: 100;
    font-size: 24px;
    color: black;
    animation: blink 1s infinite;
}

/* @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
} */