.chat-reaction-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto; /* 스크롤 */
}

.chat-reaction-box {
    background-color: #FCE8E7;
    color: black;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    word-wrap: break-word; 
    position: absolute;
    top: 10px;
    left: 10px;
}
