/* 선택한 날짜 */
.react-datepicker__day--selected,
.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected {
    background-color: #ff69b4;
    color: white;
    border-radius: 50%;
}

/* 기본 오늘의 날짜 */
.react-datepicker__day--today {
    color: #ff69b4;
    font-weight: bold;
    border-radius: 50%;
}

/* 오늘의 날짜 클릭했을 때 */
.react-datepicker__day--today.react-datepicker__day--selected {
    background-color: #ff69b4; 
    color: white;
    border-radius: 50%;
}

.react-datepicker__day:hover {
    background-color: #ffe6f2;
    color: #ff69b4;
    border-radius: 50%;
}
